
<h1>Listar Responsaveis</h1>
<p-table [value]="responsaveis.content" #tabela (onLazyLoad)="buscarResponsaveis(query)" [lazy]="true" dataKey="id"
[rowHover]="true" [rows]="10"
currentPageReportTemplate="Showing {first} to {{responsaveis.numberOfElements}} of {totalRecords} entries"
[showCurrentPageReport]="true" [paginator]="true" [totalRecords]="responsaveis.totalElements"
styleClass="p-datatable-responsive-demo">
<ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #input (keydown.enter)="buscarResponsaveis(input.value)"
                placeholder="Global Search" />
        </span>
    </div>
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="nome">Nome <p-sortIcon [field]="'nome'"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email <p-sortIcon [field]="'email'"></p-sortIcon>
        </th>
        <th pSortableColumn="dataNascimento">Data de Nascimento <p-sortIcon [field]="'dataNascimento'"></p-sortIcon>
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-responsavel>
    <tr>
        <th>{{responsavel.nome}}</th>
        <th>{{responsavel.email}}</th>
        <th>{{responsavel.dataNascimento}}</th>
    </tr>
</ng-template>
</p-table>